	* {
		margin: 0px;
		padding: 0px;
	}
	
	body{
		height: 100%;
	}
	
	#myCarousel {
		width: 1200px;
		height: 460px;
		margin: 0 auto;
	}
	
	.btntochangepage{
		width: 100%;
		text-align: center;
		margin: 30px;
	}
	
	.box {
		margin: 0 auto;
		border: 1px solid #ccc;
		box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1) inset;
		background-color: #e9ebea;
		height: 200px;
		width: 1200px;
	}
	
	.box:hover{
		 opacity:0.5; -moz-opacity:0.5;    
	}
	
	.box .smallbox .leftbox {
		float: left;
		width: 30%;
		height: 200px;	
	}
	
	.box .smallbox .leftbox img{
		display: block;
		width: 80%;
		height: 90%;
		margin: 10px auto;
	}
	
	.box .smallbox .rightbox{
		float: right;
		width: 70%;
		height: 200px;
		position:relative;
	} 
	
	.box .smallbox .rightbox .title{
		font-family: "微软雅黑";
		font-size: 40px;
		font-weight: bolder;
	}
	
	.box .smallbox .rightbox .info{
		font-family: "微软雅黑";
		font-size: 20px;
		font-weight: bolder;
	}	
	
	.box .smallbox .rightbox .time{
		float: right;
		font-family: "微软雅黑";
		font-size: 15px;
		font-weight: bolder;
		position:absolute; bottom:0; right:0;
	}
	
	.foot{
		text-align: center;
		height: 100PX;
		width: 100%;
		border: 1px solid #ccc;
		background-color: #e9ebea;line-height: 100px;
		margin-bottom: 0px;
		margin-top: 140px;
	}
